<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div>
                <img src="../../assets/images/logo-transp1.png" width="70" height="75" class="d-inline-block align-top" alt="">  
                <a class="navbar-brand flex-grow-1" href="index" style="font-size:2rem;">Seasons<span>Credit Union</span></a>
            </div>
          
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="index" style="font-size:1.5rem;padding-left:30px;">Home</a>
              <a class="nav-link" href="list-client" style="font-size:1.5rem;padding-left:30px;">Clients</a>
              <a class="nav-link" href="new-client" style="font-size:1.5rem;padding-left:30px;">Add Client</a>
              <a class="nav-link" href="list-compte" style="font-size:1.5rem;padding-left:30px;">Comptes</a>         
              <a class="nav-link" href="list-credit" style="font-size:1.5rem;padding-left:30px;">Credits</a>
            </div>
          </div>
        </div>
      </nav>
</div>
