<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div>
                <img src="../../assets/images/logo-transp1.png" width="70" height="75" class="d-inline-block align-top" alt="">  
                <span class="logo_title"><a class="navbar-brand flex-grow-1" href="index">Seasons</a><span class="logo_slog">Credit Union</span></span>
            </div>
          
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link nav_link_display active" aria-current="page" routerLink="clients">Home</a>
              <a class="nav-link nav_link_display" routerLink="clients" routerLinkActive="active">Clients</a>
              <a class="nav-link nav_link_display" routerLink="create-client">Add Client</a>
              <a class="nav-link nav_link_display" routerLink="comptes">Comptes</a>         
              <a class="nav-link nav_link_display" href="list-credit">Credits</a>
            </div>
          </div>
        </div>
      </nav>
</div>
