<div class="container mt-15">
    <h3>Liste Comptes</h3>
    <table class="table">
        <thead>
        <tr>
            
            <th scope="col">Num</th>
            <th scope="col">Date Creation</th>
            <th scope="col">Soldes</th>
            <th scope="col">Type</th>
            <th scope="col">decouvert</th>
            <th scope="col">taux</th>
            <th scope="col">Client Id</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-warning">Modifier</a></td>
                <td><a class="btn btn-danger">Supprimer</a></td>
                <td><a class="btn btn-info">Plus info</a></td>
            </tr>
        
        </tbody>
    </table>
    
</div>
