<div class="container-lg">
    <div class="card" style="width: 25rem; margin: 10rem auto;">
      <div class="card-header">
        <h1>Client Detail</h1>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Client Id : {{client.id}}</li>
        <li class="list-group-item">Client Nom : {{client.nom}}</li>
        <li class="list-group-item">Client Prenom : {{client.prenom}}</li>
        <li class="list-group-item">Client Date Naissance : {{client.dateNaissance}}</li>
        <li class="list-group-item">Client Adresse : {{client.adresse}}</li>
        <li class="list-group-item">Client Telephone : {{client.tel}}</li>
        <li class="list-group-item">Client Email : {{client.mail}}</li>
        <li class="list-group-item">Client Civilité : {{client.civilite}}</li>        
        <li class="list-group-item"><a class="btn btn-warning">Demande Crédit</a>
      <a class="btn btn-success" style="margin-left: 15px;">Consulter le Compte</a></li>
      </ul>
      
    </div>
</div>